<section class="section">
<!-- In case there is no icon use modificator
<section class="section section--no-icon"> -->
	<div class="section__inner">
		<h1 class="title">Pricing</h1>
		<p class="subtitle">The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence, and upturning of</p>
		<div class="plans-wrapper">
			<article class="plan">
				<h2 class="plan__title">Basic</h2>
				<div class="plan__icon-wrapper">
					<svg>
						<use href="#key" xlink:href="#key" />
					</svg>
				</div>
				<p class="plan__price">
					<strong class="plan__price-count">Free</strong>
					<span class="plan__price-text">For all period</span>
				</p>
				<ul class="plan__list" data-wm-component="collection">
					<li class="plan__list-item">
						100 Max Connections
					</li>
					<li class="plan__list-item">
						Unlimited Channels
					</li>
					<li class="plan__list-item">
						200k Messages / Day
					</li>
				</ul>
				<button type="button" class="button button--secondary button--size-sm plan__button">Main button (S)</button>
			</article>
			<article class="plan plan--main">
				<h2 class="plan__title">Premium</h2>
				<div class="plan__icon-wrapper">
					<svg>
						<use href="#cloud" xlink:href="#cloud" />
					</svg>
				</div>
				<p class="plan__price">
					<strong class="plan__price-count">$50</strong>
					<span class="plan__price-text">per month</span>
				</p>
				<ul class="plan__list" data-wm-component="collection">
					<li class="plan__list-item">
						100 Max Connections
					</li>
					<li class="plan__list-item">
						Unlimited Channels
					</li>
					<li class="plan__list-item">
						200k Messages / Day
					</li>
				</ul>
				<button type="button" class="button button--secondary button--size-md plan__button">Main button (M)</button>
			</article>
			<article class="plan">
				<h2 class="plan__title">Pro</h2>
				<div class="plan__icon-wrapper">
					<svg>
						<use href="#computer" xlink:href="#computer" />
					</svg>
				</div>
				<p class="plan__price">
					<strong class="plan__price-count">$100</strong>
					<span class="plan__price-text">per month</span>
				</p>
				<ul class="plan__list" data-wm-component="collection">
					<li class="plan__list-item">
						100 Max Connections
					</li>
					<li class="plan__list-item">
						Unlimited Channels
					</li>
					<li class="plan__list-item">
						200k Messages / Day
					</li>
				</ul>
				<button type="button" class="button button--secondary button--size-sm plan__button">Main button (S)</button>
			</article>
		</div>
		<div class="btns-group">
			<button type="button" class="button button--secondary button--size-md">Additional button (M)</button>
			<!-- <a href="#" class="link">All blog posts</a> -->
		</div>
	</div>
</section>
