<section class="section">
	<div class="section__inner">
		<h1 class="title">Gallery</h1>
		<p class="subtitle">Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do once or twice she had</p>
		<div class="items-wrapper" data-wm-component="collection">
			<div data-fancybox="gallery" href="https://fex.net/show/664658710906/196195048?1600w,0" class="item">
				<div class="item__picture-wrapper">
					<picture class="item__picture">
						<source srcset="https://fex.net/show/664658710906/196195048?1600w,0" media="(min-width: 320px)">
						<img class="item__image" src="https://fex.net/show/664658710906/196195048?1600w,0" alt="Picture description">
					</picture>
				</div>
				<p class="item__text">Alice was beginning to get very tired</p>
			</div>
			<div data-fancybox="gallery" href="https://fex.net/show/664658710906/196195120?1600w,0" class="item">
				<div class="item__picture-wrapper">
					<picture class="item__picture">
						<source srcset="https://fex.net/show/664658710906/196195120?1600w,0" media="(min-width: 320px)">
						<img class="item__image" src="https://fex.net/show/664658710906/196195120?1600w,0" alt="Picture description">
					</picture>
				</div>
				<p class="item__text">Alice was beginning to get very tired</p>
			</div>
			<div data-fancybox="gallery" href="https://fex.net/show/664658710906/196195081?1600w,0" class="item">
				<div class="item__picture-wrapper">
					<picture class="item__picture">
						<source srcset="https://fex.net/show/664658710906/196195081?1600w,0" media="(min-width: 320px)">
						<img class="item__image" src="https://fex.net/show/664658710906/196195081?1600w,0" alt="Picture description">
					</picture>
				</div>
				<p class="item__text">Alice was beginning to get very tired</p>
			</div>
			<div data-fancybox="gallery" href="https://fex.net/show/664658710906/196195480?1600w,0" class="item">
				<div class="item__picture-wrapper">
					<picture class="item__picture">
						<source srcset="https://fex.net/show/664658710906/196195480?1600w,0" media="(min-width: 320px)">
						<img class="item__image" src="https://fex.net/show/664658710906/196195480?1600w,0" alt="Picture description">
					</picture>
				</div>
				<p class="item__text">Alice was beginning to get very tired</p>
			</div>
			<div data-fancybox="gallery" href="https://fex.net/show/664658710906/196195399?1600w,0" class="item">
				<div class="item__picture-wrapper">
					<picture class="item__picture">
						<source srcset="https://fex.net/show/664658710906/196195399?1600w,0" media="(min-width: 320px)">
						<img class="item__image" src="https://fex.net/show/664658710906/196195399?1600w,0" alt="Picture description">
					</picture>
				</div>
				<p class="item__text">Alice was beginning to get very tired</p>
			</div>
			<div data-fancybox="gallery" href="https://fex.net/show/664658710906/196195276?1600w,0" class="item">
				<div class="item__picture-wrapper">
					<picture class="item__picture">
						<source srcset="https://fex.net/show/664658710906/196195276?1600w,0" media="(min-width: 320px)">
						<img class="item__image" src="https://fex.net/show/664658710906/196195276?1600w,0" alt="Picture description">
					</picture>
				</div>
				<p class="item__text">Alice was beginning to get very tired</p>
			</div>
			<div class="fake"></div>
			<div class="fake"></div>
		</div>
		<div class="btns-group">
			<button type="button" class="button button--secondary button--size-md">Medium button</button>
			<!-- <a href="#" class="link">Show all gallery</a> -->
		</div>
	</div>
</section>
